# 语言: None, Cpp, Java, JavaScript, ObjC, Proto, TableGen, TextProto
# Language: Cpp

# BasedOnStyle
BasedOnStyle: LLVM

# tab宽度
TabWidth: 4

# 使用tab字符: Never, ForIndentation, ForContinuationAndIndentation, Always
UseTab: Always
